@{
    ViewData["Title"] = "404 - Not Found";
}
<h2 class="text-danger">404 - Page Not Found</h2>
<p>@ViewBag.ErrorMessage</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-light btn-sm">⬅ Back to Home</a>

