@{
    ViewData["Title"] = "500 - Server Error";
}
<h2 class="text-danger">500 - Internal Server Error</h2>
<p>@ViewBag.ErrorMessage</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-light btn-sm">⬅ Back to Home</a>
